
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="text-white">ubiDO</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p class="text-gray">A todo app</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 login-form-box">

      <div class="form-top">
        <h2>Sign Up</h2>
      </div>

      <div class="form-bottom">
        <form ng-submit="createAccount(org_name, name_first, name_last, email, password)">

          <div class="">
            <span class="form-control-label">Organization</span>
            <input type="text" class="form-control" ng-model="org_name" required>
          </div>
          First Name
          <input type="text" class="form-control" ng-model="name_first" required>
          Last Name
          <input type="text" class="form-control" ng-model="name_last" required>

          <div ng-class="{'has-danger': emailExists}">
            <span class="form-control-label">Email</span>
            <input type="email" class="form-control" ng-model="email" required>
            <div class="form-control-feedback">
              {{email_feedback}}
            </div>
          </div>

          <div class="">
            <span class="form-control-label">Password</span>
            <input type="password" class="form-control" ng-model="password" required>
          </div>

          <div ng-class="{'has-danger': passNotMatch}">
            <span class="form-control-label">Confirm Password</span>
            <input type="password" class="form-control" ng-model="confirm_password" required>
            <div class="form-control-feedback">{{pass_confirm_feedback}}</div>
          </div>
          <br />
          <button type="submit" name="button" class="btn btn-primary btn-lg btn-block">Create Account</button>
        </form>
      </div>
    </div>

    <div class="col-md-1 middle-border"></div>
    <div class="col-md-1"></div>
    <div class="col-md-5 login-form-box">
      <div class="form-top">
        <h2>Log In</h2>
      </div>
      <div class="form-bottom">
        <form ng-submit="returnUserLogin(returnEmail, returnPassword)">

          <div ng-class="{'has-danger': returnAccount}">
            <span class="form-control-label">Email</span>
            <input type="email" class="form-control" ng-model="returnEmail" required>

            <span class="form-control-label">Password</span>
            <input type="password" class="form-control" ng-model="returnPassword" required>
            <div class="form-control-feedback">
              {{return_feedback}}
            </div>
          </div>
          <br />
          <button type="submit" name="button" class="btn btn-primary btn-lg btn-block">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>
