///////////// VARIABLES /////////////
$header-font-stack: 'Old Standard TT', serif;
$form-text: #777;

///////////// UNIVERSAL /////////////

body {
  background-color: #1565c0;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: $header-font-stack;
  letter-spacing: -1px;
}

button {
  cursor: pointer;
}

.done-true {
  text-decoration: line-through;
}

.text-gray {
  color: #ccc;
}

.logout-btn {
  position: absolute;
  right: 20px;
  z-index: 1;
}

.main-container {
  background-color: #eee;

  .todo-switch {
    margin-bottom: 20px;

    a {
      display: inline-block;
      font-size: 18px;
      cursor: pointer;
      padding: 20px;
    }

    a:hover {
      background: #ccc;
    }

    a:active {
      background: #aaa;
    }
  }

  .todo-form {
    margin-bottom: 20px;
  }

  .archive-btn {
    margin-bottom: 20px;
  }

  .archived-item button {
    margin-left: 10px;
  }

}


///////////// DELETE / HOVER BUTTONS /////////////

.delete,
.edit {
  opacity:0;
  transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
}

.todo-item:hover .delete,
.todo-item:hover .edit,
.archived-item:hover .delete {
  opacity: 1;
  transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
}





////////////////
// LOGIN PAGE //
////////////////



.login-form-box {

  .form-top {
    background-color: #fff;
    padding: 25px 15px 15px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    h2 {
      color: $form-text;
    }
  }

  .form-bottom {
    background-color: #eee;
    padding: 25px 15px 30px 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: $form-text;
  }
}

.middle-border {
	margin-top: 100px;
  margin-bottom: 100px;
	border-right: 1px solid #ccc;
}



.org-members {
  border-left: 1px solid #aaa;
  padding-bottom: 20px;
  // background-color: #eee;

  a {
    display: inline-block;
    // background: #eee;
    font-size: 18px;
    cursor: pointer;
    // width: 100%;
    padding: 20px;
    // color: red !important;
  }

  a:hover {
    background: #ccc;
    // color: white !important;
  }

  a:active {
    background: #aaa;
    // color: white !important;
  }

  .hideme {
      height: 0;
      overflow: hidden;
  }
}




footer {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;

  .footer-border {
    margin: 0 auto;
    width: 200px;
    padding-bottom: 20px;
    border-top: 1px solid #ccc;
  }
}




/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.middle-border {

    min-height: auto;
    margin: 65px 30px 65px 30px;
    border-right: 0;
		border-top: 1px solid #ccc;
    // border-top: 1px solid rgba(255, 255, 255, 0.6);
  }

  .org-members {
    border-left: 0;
    border-top: 1px solid #aaa;
    margin: 50px 0;
  }

  .todo-form {
    input {
      margin-bottom: 10px;
    }
  }


}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

  // .todo-form {
  //   button {
  //     margin-top: 10px;
  //   }
  // }

}
